services:
  springboot-app:
    container_name: sbapp
    build:
      context: .
      dockerfile: dockerbuild
    depends_on:
      - mysql
    networks:
      - xarxa1
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/demo

  mysql:
    image: mysql:9.5.0
    container_name: mysqldb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: demo
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql
    networks: 
      - xarxa1
    ports:
      - "3306:3306"
networks:
  xarxa1:
    name: xarxa1

volumes:
  mysql_data: 