services:
  springboot-app:
    container_name: sbapp
    build:
      context: .
      dockerfile: dockerbuild
    depends_on:
      - mariadb
    networks:
      - xarxa1
    ports:
      - "8000:8000"
    environment:
      SPRINT_DATASOURCE_USERNAME: root
      SPRINT_DATASOURCE_PASSWORD: 1234
      SPRINT_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/demo


  mariadb:
    image: mariadb:11.4
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: 1234
      MARIADB_DATABASE: demo 
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - xarxa1
    ports:
      - "3306:3306"

networks:
  xarxa1:
    name: xarxa1

volumes:
  mariadb_data: 